<% content_for :navbar do %>
  <%= render partial: "application/navbar" %>
<% end %>

<% content_for :page do %>
  <div class="row">
    <div class="col-4 offset-4">
      <h2 class="text-center">Edit <%= resource_name.to_s.humanize %></h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <fieldset class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </fieldset>
        <fieldset class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          <small class="form-text text-muted">Leave blank if you don't want to change it.</small>
        </fieldset>
        <fieldset class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </fieldset>
        <fieldset class="form-group">
          <%= f.label :current_password %>
          <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
          <small class="form-text text-muted">We need your current password to make changes.</small>
        </fieldset>
        <%= f.submit "Update", class: "btn btn-primary btn-block" %>
      <% end %>      
    </div>
  </div>
<% end %>

<% content_for :footer do %>
  <nav class="nav justify-content-center">
    <%= link_to "Back", :back, class: "nav-link" %>
  </nav>
<% end %>