<% content_for :page do %>
  <div class="row">
    <div class="col-4 offset-4">
      <h2 class="text-center">Reset Password</h2>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.hidden_field :reset_password_token %>
        <fieldset class="form-group">
          <%= f.label :password, "New Password" %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: validated_form_class(resource, :password) %>
          <%= error_for(resource, :password) %>
        </fieldset>
        <fieldset class="form-group">
          <%= f.label :password_confirmation, "Confirm New Password" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: validated_form_class(resource, :password_confirmation) %>
          <%= error_for(resource, :password_confirmation) %>
        </fieldset>
        <%= f.submit "Reset Password", class: "btn btn-block btn-primary" %>
      <% end %>
    </div>
  </div>
<% end %>

<% content_for :footer do %>
  <%= render "devise/shared/links" %>
<% end %>
