<!DOCTYPE html>
<html>
  <head>
    <title>Subnauticacraftingapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield :navbar %>
    <div class="container" id="page">
      <%= yield :page %>
    </div>
    <div class="fixed-bottom" id="footer">
      <%= yield :footer %>
    </div>
  </body>
</html>
